@model Server.EF.lot

@{
    ViewBag.Title = "Thanks";
}

<h2>Thanks</h2>

<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Thanks</title>
</head>
<body>
  <div>
    <h1>Спасибо дибил, теперь подожди минут 30, пока лот не обработается админом!</h1>
     @Html.ActionLink("Вернуться на главную", "Index", "Home")
  </div>
</body>
</html>